body {
    font-family: "helvetica"
}
.box {
    width: 200px;
    height: 200px;
    margin: 40px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.blue {
    background-color: #add8e6;
    color: #f0f8ff;
}

.purple {
    background-color: #9400D3;
    color: #f0f8ff;
}

.yellow {
    background-color: #9ACD32;
    color: #f0f8ff;
}

h1 {
    color: #3F3F3F;
}

.h-bar {
    min-height: 25px;
    min-width: 10px;
    background-color: steelblue;
    margin-bottom: 5px;
    font-size: 12px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
   
}

.v-bar {
    min-height: 1px;
    min-width: 30px;
    background-color: #4682b4;
    margin-right: 2px;
    font-size: 10px;
    color: #f0f8ff;
    text-align: center;
    width: 10px;
    display: inline-block;
}

.h-bar span.filme{
    vertical-align: -5px;
    font-weight: bold;
}

.h-bar span.valor{
    color: black;
    font-weight: bold;
    position: relative;
    left: 32px;
    text-align: left;
    vertical-align: -5px;
}

#chart .h-bar{
    background-color: #DAA520;
}

#chart2 .h-bar{
    background-color: #800080;
}

#chart3 .h-bar{
    background-color: #1E90FF;
}

